[2014-01-25 22:53] asmblah opened #1 "Add support for PHP 'switch' statements"

[2014-01-25 22:54] asmblah opened #2 "Add support for PHP loop 'break' and 'continue' statements"

[2014-01-27 21:04] #1 closed, assigned to asmblah

[2014-01-29 22:15] asmblah opened #3 "Add support for source maps"
http://kybernetikos.github.io/jsSandbox/srcmaps/dynamic.html

As I mentioned there, it would be great if we could use "blob:" URIs for source maps too, to avoid massive "data:" URIs, base64 encoding etc.

[2014-01-30 18:08] asmblah opened #4 "Fix intermittent errors when running tests"
[code]

[2014-02-02 15:04] asmblah opened #5 "Add asynchronous API"
Uniter needs support for an internal asynchronous API, so PHP execution may be blocked while an asynchronous operation completes, eg. for `sleep(...)` or `usleep(...)` PHP functions or a `require(...)` that needs to perform AJAX to fetch the included file.

[2014-02-03 21:56] asmblah opened #6 "Add execution timeout"
Infinite loops in the browser can lock up the UI so are a big no-no. Uniter should support the `set_time_limit(...)` function in order to handle this scenario.

The default of 30 seconds in the Zend engine is too high for in the browser: a default of 1 second should be enforced there.

[2014-02-06 22:32] asmblah opened #7 "Add support for PHP 'use' statement"
Support [already added](https://github.com/asmblah/uniter/commit/e107a4d522b972190121027eb47f584c264c3750) to grammar in [master](https://github.com/asmblah/uniter) branch, interpreter support still a work in progress.

[2014-02-27 16:26] asmblah opened #8 "Switch to overloading native classes based on jsPerf results"
http://jsperf.com/custom-value-objects-vs-using-native

http://jsperf.com/tonative-plus-vs-valueof

Should be possible to do this (extending `Number.prototype`, etc.) without polluting the native classes by borrowing them from another engine context, eg. via Contextify in Node.js and an `<iframe>` document in the browser.

[2014-08-17 03:28] katetem opened #9 "Can I run uniter through the "script" tag?"
Also I want to load the script through "src" attribute so I can separate the script.

[2014-09-12 09:02] unlight opened #10 "Class::const construction is not supported"
http://asmblah.github.io/uniter/demo/interactive.html

[code]

Result:
`PHP Parse error: syntax error, unexpected 'c' in (program) on line 4`

[2014-09-17 07:46] unlight opened #11 "Adding items to array via []"
[code]

[code]

[2014-10-04 02:35] sstur opened #12 "Add support for optional function params (default values)"
Support syntax like:

[code]

[2014-10-04 02:36] sstur opened #13 "Add support for type casting"
Support syntax like:

    $str = (string)$num;

[2014-10-04 02:37] sstur opened #14 "Add support for increment operator (+=)"
Support syntax like:

    $i += 2;

[2014-10-04 02:39] sstur opened #15 "Optional "public" keyword on methods"
Support methods with public/private keyword omitted (default to public):

    class Thing {
      function f() { /* public method */ }
    }

[2014-10-18 11:30] Trismegiste opened #16 "Add support for interface"
I've tried

[code]

I've got :

[code]

Did I miss something ? :eyeglasses:

[2014-10-18 18:29] #11 closed, assigned to nobody

[2014-10-18 18:30] #10 closed, assigned to nobody

[2014-11-09 16:42] #4 closed, assigned to nobody

[2014-11-09 17:16] #12 closed, assigned to asmblah

[2015-03-24 20:24] asmblah commented on #16
Hi @Trismegiste,

There is now partial interface support in Uniter - constants defined on the interface are accessible from the interface or from classes that implement it, for example:
[code]

Cheers!

[2015-05-13 11:49] IngwiePhoenix opened #18 "WebPack support"
I admit it. PHP still is a language I prefer over JS... And that is why I want to use it properly.

A while ago, I had discovered WebPack. It allows me to use Loaders in order to transpile stuff to pure JS. So I wanted to use uniter. Problem is, that even a simple bit of testing fails:

[code]

Why isn't uniter working in NodeJS?

[2015-05-16 23:32] asmblah commented on #18
Hi @IngwiePhoenix,

I've just tagged and published v0.2.2, which should hopefully fix the issue you were having when running Uniter on the command line.

I've added support for Browserify, but I've not actually tried WebPack just yet, please let me know how you get on and if you get stuck I'll take a look for you.

Cheers!
Dan

[2015-05-16 23:54] asmblah commented on #9
Hi @katetem,

Sorry I never got back to you on this. I've just tagged v0.2.2 with Browserify support, and I've included a pre-built bundle of the core in the `dist/` folder, so in your case you should be able to just include with `<script src="<your-path>/dist/uniter.js"></script>` and then access the `uniter` global variable.

Hope this helps!
Dan

[2015-05-17 13:29] IngwiePhoenix commented on #18
Cool, now it works! :)

Now, in order to use WebPack with uniter, I'd need to know a few things:

- Is there a way to compile a PHP script/string into JS using uniter? For instance, there is the `ejs-compiled` plugin for WebPack, which runs an EJS template through a compiler which returns a template function. Is something similar possible with uniter?
- If not, then: Which files are required for b

[2015-05-17 22:12] asmblah commented on #18
Thanks, I guess what we really need is some actual documentation - I'll try to put some together at some point!

Kind of: the code usually only gets transpiled at runtime; it does eventually generate the final JS which then gets `eval()`'d but there's not (yet) an easy API to get at that code, it's definitely something on the roadmap though.

`dist/uniter.js` is a Browserified bundle of the core c

[2015-05-17 22:44] IngwiePhoenix commented on #18
Hey.

That sounds very, very neat! :)

Hope to see the compile-to-function feature, because that one would be really nice to have!

What I was looking for was to do something like this:

[code]

How would I get the exporting into global namespace to work?

Otherwise I think I now know what I need to know. :) Very awesome, going to run tests on using uniter in WebPack now!

[2015-05-17 22:44] IngwiePhoenix commented on #18
Oh I forgot. How to export global classes? Imagine I wanted to export the `console` object as a class, with it's methods as static methods.

[2015-05-17 22:57] IngwiePhoenix commented on #18
Okay, here is what i got.

WebPack understands AMD definitions, much like Browserify seems to. However, there is a catch:

[code]

This won't resolve. When using a non-prefixed path ("js", "languages"), then WebPack will assume that to be a module name, like NodeJS' `require()`.

I have to look for a more sutiable fix, but what would be possible is:

[code]

... Though, I am sure I can find a way

[2015-05-18 12:10] asmblah commented on #18
Thanks @IngwiePhoenix. I've had a quick play with Webpack and put together a small demo: https://github.com/uniter/uniter-webpack, use it as you wish :)

I've had to hard-code the path mappings you mentioned in `webpack.config.js` for now, which isn't ideal, I'll look to move these into the core code in a way that Webpack can pick up automatically.

Cheers
Dan

[2015-05-18 17:55] IngwiePhoenix commented on #18
If I happen to come across something, I’ll make sure to let you know about it! :)

[2015-05-18 21:18] asmblah commented on #18
Just in case you need to start bundling up a PHP class structure, I've put together a small example of how to bundle up a simple PHP app structure (http://uniter.github.io/uniter-bundle/) - the PHP files in `/php/*` are bundled along with `/js/*` and the Uniter core code to produce a single JS bundle file, using a simple autoloader to link the two together.

I've added support for both Browserify

[2015-05-27 16:25] asmblah commented on #15
Hi @sstur,

I've now added support for omitting method visibility in Uniter v1.0.0.

Cheers!
Dan

[2015-05-27 16:26] asmblah commented on #8
Closing this as there doesn't seem to be any discernible improvement in speed.

[2015-05-27 16:26] #8 closed

[2015-05-27 16:27] asmblah commented on #7
Support added in a previous release.

[2015-05-27 16:27] #7 closed

[2015-05-27 16:28] asmblah commented on #5
Async support is now part of v1.0.0.

[2015-05-27 16:28] #5 closed

[2015-05-30 23:02] asmblah commented on #14
Hi @sstur,

Sorry for the delay, I've now implemented support for the increment (and decrement, `-=`) assignment operators in v1.1.0.

Cheers!
Dan

[2015-05-31 00:21] sstur commented on #14
So cool! Looking forward to playing with v1.1!

[2015-05-31 00:21] #14 closed

[2015-07-07 15:30] IngwiePhoenix opened #20 "define(...) and NodeJS"
https://www.npmjs.com/package/amdefine

You might be interested in this since I see that Uniter still uses `define()`. I also am suggesting this because of NodeJS. Having it require the `dist/uniter.js` file loads a lot of overhead and could, in one way or another, confuse the system.

Changing `index.js` to use `require("amdefine/intercept")` and then `module.exports = require("./js/main")` will

[2015-07-07 15:41] IngwiePhoenix commented on #18
Hey.

Has there been any progress on "pre-compiling" the PHP code to JavaScript in order to reduce the required amount of code to be included? I have just looked at the bundled app and such and really like how they are pretty easy to use! :)

Kind regards, Ingwie

[2015-07-07 22:06] asmblah commented on #20
Hi @IngwiePhoenix,

Thanks for this, it's a very good point - the Node.js API shouldn't be including the built bundle. Ideally I'd like to remove the use of AMD throughout and convert everything over to CommonJS.

I wasn't aware of the intercept feature in amdefine, so thanks for pointing that out - looks like it hooks into all (even non-Uniter) module loads though so it might not be ideal to embe

[2015-07-07 22:14] asmblah commented on #18
Hi @IngwiePhoenix,

Thanks - yes, it's getting there but there's still a way to go to make the embedding API as seamless as possible - a lot of the code in that repo (and https://github.com/uniter/uniter-jquery) could do with being factored out into some reusable NPM modules really.

I'm afraid there hasn't been much progress on the compiling step - at the moment I'm just embedding the PHP files '

[2015-07-08 00:48] IngwiePhoenix commented on #20
Y’know, I have a night to spend. So, I am going to fork and convert. :)
Uniter is awesome and I am planning to use it in another project of mine - so I might as well contribute to it!

[2015-07-08 03:06] IngwiePhoenix commented on #20
I'm almost done. Oh my god Uniter is HUGE....respect for having worked all that logic on your own. Its gigantic o-o.

I am only missing some stuff in the `grammar/` folder, and then i have everything converted. Just gotta runt ests and see if I converted correctly :)

[2015-07-08 22:29] IngwiePhoenix commented on #20
Just a small handful left.

So...many...files. And so long paths. But it has a structure that is not to be ignored. I'll PR you the update when i'm done. :)

[2015-07-08 22:30] asmblah commented on #20
Thanks very much @IngwiePhoenix, I look forward to seeing it!

[2015-07-08 23:03] asmblah commented on #20
Just FYI, I've pushed a few fixes/features I've been working on to `master` that you might want to merge into your branch - I'm hoping it won't cause you too much trouble merging in.

Thanks again!

[2015-07-08 23:09] IngwiePhoenix commented on #20
Well the most I have been doing is modifying the top and bottom of each file to turn each define() statement into separate require()’s and instead of returning, the values are module.exports’ed. I hope I can merge that indeed o.o...

[2015-07-10 02:01] IngwiePhoenix commented on #20
I am done with the conversion of the current state and having not merged current master.

When I try to run Uniter now, I get an absolutely empty result. Like, i am using this:

[code]

and there is no output on the conosle. But using th eunified source... works. So there clearly is something wrong.

What is the best way to debug this? I can push my current state to my fork's master if you want to

[2015-07-10 16:51] asmblah commented on #20
Hi @IngwiePhoenix, thanks very much for your effort here. It's difficult to say what might be causing the issue, and debugging features are a little lacking at the moment, sorry - so if you could push up your changes (might make sense to push to a branch other than `master` in your repo, but entirely up to you) then I'll take a look :)

[2015-07-10 19:08] IngwiePhoenix commented on #20
Oops! I had a derp with my branching and now it did end up on master. Ahh...whatever. :)
https://github.com/IngwiePhoenix/uniter/commit/42be07b6f8c6620a013510152f545bc0596f416d

[2015-07-10 20:23] asmblah commented on #20
Thanks @IngwiePhoenix - wow, it's difficult to see what's changed in that diff :)

It would probably be a bit of a pain now, but I wonder whether it would be easier if we didn't 'outdent' the main body of each module for now, so the diff only covered the imports and exports sections of each module.

The tests should be handy checking the conversion hasn't broken anything - but they seem to still b

[2015-07-10 20:50] IngwiePhoenix commented on #20
I use an editor that shows me what will be seen as new in a diff...so when I began shifting, it already showed me that even without undenting the lines, all of them were marked. So I just didn't really look for a fix x)

I'll see if the tests bring up any result. But if you happen to come across soemthing, let me know! :)

[2015-07-10 20:56] asmblah commented on #20
Only a few small changes to get it working so I'll just post them here:
[code]

[2015-07-10 20:57] asmblah commented on #20
Mochify invokes the UnAMDify transform via Browserify, so you can run the tests in their current state that way: `npm run test-browser`

[2015-08-06 22:03] asmblah commented on #18
Hi @IngwiePhoenix,

Just to give you an update on part of this issue you raised, being able to statically compile PHP->JS for eg. WebPack. I've just tagged v1.3.1, for which I've split out the PHP->AST parser and AST->JS transpile steps into two NPM packages (`phptoast` and `phptojs`), which you should be able to use like this:

`npm install --save phptoast phptojs phpruntime`
[code]
Note that the

[2015-08-06 22:18] IngwiePhoenix commented on #18
Hey!

Thanks for letting me know about that! Thats osme really good news to read about. I just came out of the hospital and feel really stomped out  so reading some positive stuff is nice. But dont worry, it was just a regular eye check to see if my eyes are all good :)

I already know how to pull in a runtime - I am doing that with OJ’s already! So this should be really easy. Ill hopefuly get bac

[2015-08-06 22:29] IngwiePhoenix commented on #18
Also I love how the first project unintentionally is named "php toast". :) nice little easter egg, even if it maybe wasnt intended to be.

[2015-08-07 07:02] asmblah commented on #18
Hi @IngwiePhoenix,

Glad to hear you're alright!
Yeah, there's not much code left in the main Uniter project now, it's mostly some logic to handle the original API and some integration tests now (which could do with cleaning up a bit.)

Oh and yep, it was intentional ;)

Cheers!

[2015-11-12 15:15] IngwiePhoenix commented on #20
This is now solved through everything in @uniter

[2015-11-12 15:15] #20 closed

[2015-11-12 15:20] IngwiePhoenix opened #22 "PHP "new" array syntax"
Currently,

[code]

is not supported.

[2015-11-12 15:29] IngwiePhoenix opened #23 "Define contextual/lexical constants"
Make sure that all the PHP constants exist:

[code]

In addition, the test for `PHP_EOL` always prints `[1]`.

[2015-11-12 15:30] IngwiePhoenix opened #24 "Common functions"
This is partially a note to myself.

[code]

All of them are "No".

[Uniter STL](https://github.com/uniter/uniter-stl) should have these soon. However, `empty()` also does not exist. This is more a keyword-function, and should be a built-in.

[2015-11-12 19:43] asmblah commented on #24
Hi @IngwiePhoenix,

Thanks for raising this. I think these functions should probably be built-in (in PHPRuntime) really, rather than STL, as PHPRuntime is the library that the Uniter "meta-package" pulls in to define all the non-core functions (which are defined in PHPCore.) I think the STL library will be good for plugging the missing functions while we wait for more optimized versions to be deve

[2015-11-19 21:08] asmblah commented on #23
@IngwiePhoenix, these magic constants and `PHP_EOL` should all now be supported in PHPCore v3.3.0/PHPRuntime v4.1.0/Uniter v2.4.0.

Cheers!

[2015-11-20 03:59] IngwiePhoenix commented on #23
Alright, they work now! Thanks (:

I have updated my test cases, since I found a new, rather odd behaviour.

[2015-11-20 03:59] #23 closed

[2015-11-20 04:04] IngwiePhoenix opened #25 "Inlined comparsion showcases weird behaviour"
Within my last test cases, I used this line:

[code]

... but actually, it would print

[code]

Obviously, that would only be the case if the expression would only be evaluated by its first half:

[code]

That, at least, would totally adhere to the PHP way of handling this.

However, replacing the above expression with the following, yields a totally different result:

[code]

In this one, the out

[2015-11-22 23:21] asmblah commented on #25
Hi @IngwiePhoenix, thanks for reporting this. It was actually part of a bigger set of operator precedence issues, so it was a good spot!

This should now be fixed in PHPToAST v3.0.0/PHPToJS v3.0.0/PHPCore v3.4.0/PHPRuntime v4.1.0/Uniter v2.5.0.

Cheers!

[2015-11-23 20:18] asmblah commented on #22
Hi @IngwiePhoenix, thanks for raising this.

Support for the short array syntax has now been added to PHPToAST v3.1.0.

Cheers!

[2015-11-23 20:21] asmblah commented on #9
Hi @katetem,

I'm closing this issue as it's been open for a while now. If you still have a question, feel free to open it again.

Cheers,
Dan

[2015-11-23 20:21] #9 closed

[2015-11-23 20:23] asmblah commented on #15
Hi @sstur,

I hope you don't mind if I close this issue now as it's been open for a while. If this fix didn't work for you, please feel free to open it again.

Cheers,
Dan

[2015-11-23 20:23] #15 closed

[2015-11-23 23:00] IngwiePhoenix opened #26 "Enhancement to the include transport"
So originally, the function that returns/resolves the result of an include or require statement was supposed to be either a wrapper function for the new compiled PHP code or the already compiled code.

Since we are urging the compiler itself out of the runtime, we will only be able to return the transpield PHP source as returned by phpToJS. However, what if we want to actually return a value itsel

[2015-11-24 08:16] asmblah commented on #26
Hi @IngwiePhoenix,

Nice suggestion! I've now added this to PHPCore v3.5.0/Uniter v2.6.0.
I'm now also passing the `ValueFactory` instance through as the fourth argument to the include transport, so you can use it like so:
[code]
Cheers,
Dan

[2015-11-24 08:39] IngwiePhoenix commented on #26
Amazing!

And with that, I should be all up and ready to port my backend code over, completely. I'll introduce a proper transport to `uniter-node` and see how it goes. When that one works as expected, ill send a PR to introduce a `register` script to Uniter, which behaves like babelo's registrar or CoffeeScript - but for PHP instead :).

Thanks for implementing that stuff! (:

[2015-11-24 08:39] #26 closed

[2015-11-24 23:24] asmblah commented on #13
Hi @sstur,

Over a year late now I know, but I've now added support for the `(array)...`, `(binary)...`, `(bool)...`, `(float)...`, `(int)...`, `(object)...` `(string)...` and `(unset)...` casts to Uniter v2.6.0/PHPToAST v3.3.1/PHPToJS v3.1.0/PHPCore v3.6.0/PHPRuntime v4.1.0.

All the best,
Dan

[2015-11-25 03:15] sstur commented on #13
Oh, awesome! I was using this library last year to test my js2php in the browser (so it was js -> php -> js : )

[2015-11-25 03:15] #13 closed

[2015-12-01 20:27] IngwiePhoenix commented on #24
So, here is a list of functions that seem mandatory for a baseline PHP. I just thought i'd post them here since this issue exists, and to help you track some unimplemented things.

Exists-checks
- function_exists
- class_exists
- method_exists
- isset
- defined
- file_exists (Maybe)

Variable checks
- empty
- is_null
- is_callable
- is_bool
- is_int, is_float, is_numeric, is_integer
- is_string
-

[2015-12-01 20:36] IngwiePhoenix opened #27 "Defining extensions"
PHP usually provides extensions; like pcntl, hprose, sockets and alike.

In order to reproduce these within Uniter, this is what I would suggest:

[code]

Now, we could extend Uniter by an additional function. Currently, we have `.install()` to install functions, constants and classes into the system. As far as I remember, they all go into global scope. Extensions could be registered similarily:

[2015-12-18 13:28] IngwiePhoenix opened #28 "CLI tooling"
Hey.

I have completed my concept for the WebPack loader. It wont be easy to make but I have a plan for it.

However, in order to be able to see the results of various statement compilations, I need to be able to dump the generated source. That is, where I thought, the CLI would come in handy.

Currently, the Uniter command is pretty simple - it grabs a file and runs it.

These features would be n

[2015-12-20 09:24] asmblah commented on #28
Sounds great to me, I'm planning to add these features for you soon. :+1:

[2015-12-23 00:18] asmblah commented on #27
This is a nice suggestion @IngwiePhoenix, I'll definitely implement this soon :+1:

[2015-12-26 23:32] IngwiePhoenix opened #29 "include_once: Not resolved"
`include_once` is resolved as a regular function.

[code]

This should explain itself. :)

[2015-12-29 08:45] IngwiePhoenix opened #30 "Versions are off"
I was experiencing weird behavior, as explained in Gitter. So I decided to whipe my node_modules and re-install.

Surprisingly, this came out:

[code]

You see how the various parts use various versions? this is prune to error. I could sit down and test/update the parts myself, since i am in the Uniter org. :) but i just wanted to ask for permission first.

[2015-12-29 08:47] IngwiePhoenix commented on #30
This might help identify things:

[code]

[2015-12-29 20:35] asmblah commented on #30
Hi @IngwiePhoenix,

I've bumped the versions in `phpruntime` so you should only get one copy of each dependency now. For example, `uniter` gets
[code]
with
[code]
Cheers!

[2015-12-30 09:05] IngwiePhoenix commented on #30
Nice! yup, indeed is fixed now. :)

[2015-12-30 09:05] #30 closed

[2015-12-30 09:59] IngwiePhoenix opened #31 "runtime.pausable is undefined"
So, I basically have the prototype of my plugin done.

However, there is an issue I do not quite comprehend...

[code]

That maps to:

[code]

Which is `phpcore/src/Runtime.js`.

Now, this is the code that bootstraps `phpruntime`:
[code]

And this is the actual "executor":
[code]

Did I miss something, maybe? o.o

[2015-12-30 14:30] asmblah commented on #31
Hi @IngwiePhoenix, I'm on my phone at the moment so I can't check but it looks like the problem is where you copy a reference to the .compile() method from the runtime (var compile = ...) - there's a few ways to fix but the easiest would be instead to store the runtime instance in a var and call it as runtime.compile(...) rather than compile(...). Eg 'var runtime = __webpack_require(1);' ... 'var

[2015-12-30 15:40] IngwiePhoenix commented on #31
Yeah, that was indeed the issue... xD

And once you pointed it out, i facedesked.

Grabbing a reference to a function **makes it lose its context.** So either i would've used `.apply/.call` or statically bind using `.bind`... So I just decided to use your idea, and problem solved :) It works now.

Im waiting for @sokra to answer a few questions in webpack, and then i can code the remaining parts.

[2015-12-30 15:40] #31 closed

[2016-01-05 17:07] IngwiePhoenix opened #32 "Superglobals"
While looking at this project: https://github.com/js-cookie/js-cookie
... i realized, Uniter never actually seemed to introduce superglobals.

So I would like to ask, how one would set up the superglobals? Say I want to emulate `$COOKIE` with this project above, that would mean I'd need:

- to setup `$COOKIE` superglobal.
- add `cookie_*()` functions.
- probably add getter and setter for array-key

[2016-01-05 17:14] IngwiePhoenix commented on #32
I just realized my test didnt mention cookies - but, you get what i meant. :)

[2016-01-06 14:35] IngwiePhoenix opened #33 "REPL"
So for time, i really wanted to just try out functions. To do so, I did something like

[code]

but, this is rather a no-go :) It works but is hacky.

For another language-oriented project, for OJ, I wrote a little REPL: https://github.com/IngwiePhoenix/oj-node/blob/master/bin/oj

In order to write one for Uniter, it would need the ability to compile/run fragments - like: `$foo = 20; echo $foo;` -

[2016-01-06 23:00] asmblah commented on #32
@IngwiePhoenix I've just published PHPCore v3.13.0 with support for super globals :smile:
They can be set with the method `<Engine>.setSuperGlobal('<name>', '<native JS value>');`.
I have a patch to add support for 'accessor' superglobals in dev at the moment, which would be needed for your `should automatically match $argc to $argv` scenario, but it's not quite ready yet.

[2016-01-06 23:02] asmblah commented on #32
Here's an example from the tests: https://github.com/uniter/phpcore/blob/master/test/integration/superGlobalTest.js#L34

[2016-01-06 23:30] IngwiePhoenix commented on #32
Nice! Looks good to me. :)

[2016-01-07 22:33] asmblah commented on #32
@IngwiePhoenix I've just published PHPCore v3.14.0, now with support for accessor superglobals with getters and setters using `<engine>.setSuperGlobalAccessor('<name>', <getter>, <setter>);`.

[2016-01-07 22:39] asmblah commented on #32
Based on this, I'm considering deprecating the current `<Engine>.expose(...)` API and adding a new set of methods for each operation instead: `<Engine>.setVariable(...)`, `<Engine>.getVariable(...)`, `<Engine>.defineClass(...)`, `<Engine>.defineFunction(...)` etc.

[2016-01-07 22:54] IngwiePhoenix commented on #32
You could keep .expose() for BC untill the next major bump and have it decide an action according to to the type of input. Just an idea :)

[2016-01-07 22:57] asmblah commented on #32
Yep, that's the plan, sorry, that's what I mean by 'deprecate' rather than remove. :smile:
I think `.expose(...)` definitely should be removed eventually though, to make it more obvious what's going on.

[2016-02-17 19:33] IngwiePhoenix opened #34 "Heredoc/Nowdoc"
[code]

and

[code]

dont work. :)

Just a heads up! I might got the second - Nowdoc - wrong. But you probably know what I meant...

[2016-02-21 11:53] asmblah commented on #34
Thanks for raising this @IngwiePhoenix - you're right, I haven't implemented heredoc/nowdoc just yet.

[2016-03-04 11:48] dave-irvine opened #35 "Non-numeric JS arrays not properly handled"
[code]

---

[code]

[2016-03-04 11:50] dave-irvine opened #36 "sizeof/count is not implemented"
[code]

---

[code]

[2016-03-04 11:52] dave-irvine opened #37 "Inherited constructor is not called on instantiation"
[code]

---

[code]

[2016-03-04 11:53] dave-irvine opened #38 "get_class_methods is not implemented"
[code]
----
[code]

[2016-03-04 11:56] dave-irvine opened #39 "Non-numeric PHP arrays passed to JS should be converted to Objects"
[code]
----
[code]

[2016-03-04 11:59] dave-irvine opened #40 "Passing a value back to JS from PHP that was passed from JS gets corrupted"
[code]

---

[code]

[2016-03-04 18:36] IngwiePhoenix commented on #35
I think you are having a misunderstanding.

[code]

is NOT the same as in PHP. Arrays in JavaScript take numerical indices - and not strings. So in the snipped above, you could've also written:

[code]

...and it'd been the same. Generally, everything in JavaScript is an Object - same applies for arrays. So when you assign a new member to an array, you are not guaranteed that it carries over in Un

[2016-03-04 18:39] IngwiePhoenix commented on #39
You are right. Once the array becomes associative, ergo, it has a non-numeric indice, it should become an array. However, this would require keeping the `length` property in a correct state also... So this is not exactly very easy ^^; /cc @asmblah

[2016-03-04 19:38] dave-irvine commented on #35
For sure, I know that JS arrays would usually need to be numerically indexed, but just like in #39 where I would like Uniter to convert from a PHP convention that JS doesnt understand, I'd like to be able to send back an array in the format that PHP understands even if JS doesnt.

Alternatively as long as I can pass back an Object with properties and it gets converted to an array on PHP's side, th

[2016-03-07 19:26] asmblah commented on #39
To keep things simple, I've now changed the behaviour in PHPCore `v3.17.2` to still export a JS array when an array is returned from PHP-land _but_ that JS array (which is still an object) will have non-numeric properties set on it. Here's the relevant commit: https://github.com/uniter/phpcore/commit/85c128d4527a4476cf0e42c31517ab1e1eaf4271

[2016-03-07 19:28] asmblah commented on #40
Actually, this is the correct behaviour: this object is an instance of the `PHPObject` class (https://github.com/uniter/phpcore/blob/master/src/PHPObject.js) which deals with exposing PHP objects to JS-land.

[2016-03-07 19:30] asmblah commented on #40
Thinking about it some more, in this specific case (where the returned value is an instance of `JSObject`, because it originated from JS-land) I think it might make sense to unwrap and return the native JS object again. In other cases though, a `PHPObject` that wraps the object would need to be returned to handle coercing method arguments from JS to PHP.

[2016-03-07 22:26] asmblah commented on #37
Hopefully fixed by https://github.com/uniter/phpcore/commit/a621aab29dac5db9d77536584809aef6bef58ac0 (PHPCore `v3.17.3`.)

[2016-03-07 22:44] asmblah commented on #35
Thanks for reporting this @dave-irvine, it should now be fixed in the latest PHPCore version (`v3.17.3+`), where your original code snippet now outputs

[code]

Cheers!

[2016-03-07 23:20] asmblah commented on #36
Thanks for raising this @dave-irvine, I've now implemented `count(...)` in PHPRuntime `v4.4.0` (https://github.com/uniter/phpruntime/commit/66b4cca74ed074dc269a697f3e492a86c4ac947d)

Cheers!

[2016-03-10 13:59] dave-irvine opened #41 "Uppercase FALSE does not work"
[code]

[2016-03-10 22:52] asmblah commented on #41
Thanks for raising this @dave-irvine, I've published PHPToJS `v3.13.2` which should fix this issue.

[2016-03-10 23:00] asmblah commented on #32
Hi @IngwiePhoenix,ow that superglobals have been added as a feature, and `ArrayAccess` support has been added, is there anything else you need to resolve this issue?

[2016-03-11 02:01] IngwiePhoenix commented on #32
I doubt there is anything left from here on out. :)

As such, Ill also close the issue.

Thanks a lot for the implementations!

[2016-03-11 02:01] #32 closed

[2016-03-12 21:39] IngwiePhoenix opened #42 "...error: Call to undefined method JSObject::__toString()"
Actually, this is not quite right. Each JavaScript object has a `.toString()` method.

[code]

Suggestion: `JSObject::__toString()` should map 1:1 to `(...).toString()`.

[2016-03-12 21:40] IngwiePhoenix commented on #42
In fact:

[code]

:)

[2016-04-14 22:13] asmblah commented on #22
@IngwiePhoenix can this issue be closed now? Happy to leave it open if there's some part of the spec that I missed out though :smile:

[2016-12-08 13:09] dave-irvine opened #43 "Pronunciation"
Is it Unit-er or Unite-r?

[2016-12-09 15:49] phpengine commented on #43
Good question, I assumed the latter but we all know what they say about assumptions...

[2016-12-09 21:37] asmblah commented on #43
It's definitely "Unite-r" 😀 I'll leave this issue open though as I need to add something about pronunciation to the readme.

[2017-04-14 15:58] phpengine opened #44 "Using uniter name in a domain"
Hi,

I made two sites with the Uniter name in the title. One is www.uniterjquery.org.uk and one is www.theuniterleague.org.uk. Is that OK?

Any ideas for better names than the above? The first one seems fine but the second one might not be clear to everyone that might use it.

[2017-04-14 15:58] phpengine opened #45 "Logo?"
Is there a logo? Can I get someone to make one and you choose/own it etc? I've got some designers doing other bits too, it'll probably only take an hour two, and it might make the sites a bit more aesthetic.

[2017-04-14 15:58] phpengine opened #46 "Beta"
Uniter is described as being in beta state. Is there anything I can do to help bring it into what you'd call beta, alpha, RC, 1.0, etc. ?

[2017-04-14 15:59] phpengine opened #47 "HTML Tags for Uniter"
Could something like this be possible?

	<script type="text/uniter">
		echo "This is a PHP statement" ;
	</script>

Cheers

[2017-04-14 19:18] asmblah commented on #44
Hi @phpengine - yes, those will be fine, thank you for asking!

The second one seems fine to me - the only alternative that springs to mind would be something along the lines of "Friends of Symfony" (https://github.com/FriendsOfSymfony) ie. "Friends of Uniter", but I'm not sure that's any better to be honest.

[2017-04-14 19:38] asmblah commented on #47
Sure - do you have an example of how you'd like to use it? I'm guessing you're after a way to differentiate between the PHP code in a plain `.php` file that should be interpreted on the server by Zend's engine, and the code that should be run client side.

A bit quick'n'dirty, but did you mean something like this? https://jsfiddle.net/y4o3twze/

[2017-04-14 19:47] asmblah commented on #46
That's a good question - I had been holding off on removing the "alpha" label on https://asmblah.github.io/uniter/demo/interactive.html until a few more language features had been implemented, but perhaps that doesn't make sense anymore.

The main thing I'd like is to have better documentation/examples for how people can get set up and start building web apps with Uniter - eg. an example Browserif

[2017-04-14 19:53] asmblah commented on #45
Hi @phpengine - there isn't a logo at the moment, but there probably should be. If you would like to "donate" one, that would be great, thank you very much! As long as there are no rights issues and it was licensed under a Creative Commons license or something (I can own it if you'd prefer), that would be fine, and I can add a credit to the bottom of the README if you'd like.

Cheers!

[2017-04-27 01:41] phpengine commented on #47
This is spot on for what I was looking for. I've put an example on http://www.isophp.org.uk you can see. Cheers

[2017-04-27 12:28] phpengine commented on #45
Great, so, sorry it took a while but here we have a few prospectives...
http://www.isophp.org.uk/assets/images/uniter_logos/1.jpg
http://www.isophp.org.uk/assets/images/uniter_logos/2.jpg
http://www.isophp.org.uk/assets/images/uniter_logos/3.jpg
http://www.isophp.org.uk/assets/images/uniter_logos/4.jpg
http://www.isophp.org.uk/assets/images/uniter_logos/5.jpg
http://www.isophp.org.uk/assets/images

[2017-04-27 20:08] asmblah commented on #45
Thanks very much @phpengine - the second one is my favourite too, assuming there aren't any issues with it being so similar to Zend's PHP logo (I don't think there will be though, from the information on http://php.net/download-logos.php).

[2017-04-29 19:10] phpengine commented on #45
No problemo, and great... theres also these two new entries...
http://www.isophp.org.uk/assets/images/uniter_logos/7.jpg
http://www.isophp.org.uk/assets/images/uniter_logos/8.jpg
I'm not sure if it is too much like the original PHP logo. The link that you've included above also has an email address where they say someone can just ask if we're not if its OK - I'm happy to send one if you'd like - b

[2017-05-14 18:29] phpengine commented on #45
Hey dude, there's been loads of entries. I've not used Freelancer's competition entry before, thought I'd try it. There are now 21 entries... http://www.isophp.org.uk/uniter_logos.html . My shouts are 2, 9, 26 and 20, but probably won by 2 IMO. Let me know which one you want and I'll inform the winner and forward you all the files. Cheers

[2017-05-16 17:42] asmblah commented on #45
Hi @phpengine, how are you? Yes I think #2 is the best. Thanks very much!

[2017-06-06 13:04] phpengine commented on #45
Sorry it took so long to respond - Great, how should I send it? In PR?

[2017-06-06 19:26] asmblah commented on #45
A PR would be great please @phpengine, however you'd like to show it on the README - feel free to add yourself as a contributor at the bottom, as you've paid for it 😄

[2017-07-09 20:51] phpengine commented on #45
https://github.com/asmblah/uniter/pull/48 :)

[2017-10-03 22:20] #41 closed

[2017-10-03 22:22] asmblah commented on #42
Thanks for raising this @IngwiePhoenix, it's on my list 😄

[2017-10-03 22:29] asmblah commented on #40
Going through and clearing up some old issues...

This seems to be working as you expected in the latest PHPCore, probably since the fix in https://github.com/uniter/phpcore/commit/c845d0a599f37b68058b60fa34751ffa7586dac1.

Thanks!

[2017-10-03 22:29] #40 closed

[2017-10-03 22:29] asmblah commented on #44
Closing this issue as it all seems fine to me.

[2017-10-03 22:29] #44 closed

[2017-10-03 22:33] asmblah commented on #18
Hi @IngwiePhoenix,

I'm just going through and closing some old tickets - I know you are/were working on a Webpack loader, but I don't think that's what this specific GH issue was about, so I'm going to close it 😄

Feel free to reopen it if I missed something.

Thanks!

[2017-10-03 22:33] #18 closed

[2017-10-03 22:36] asmblah commented on #22
Closing for now. Feel free to re-open if I missed something though!

[2017-10-03 22:36] #22 closed

[2017-10-03 22:38] asmblah commented on #3
Support is available for generating source maps in the compiled JS bundle when using the PHPify Browserify transform.

[2017-10-03 22:38] #3 closed

[2017-10-03 22:42] asmblah commented on #35
Closing as I think the fix referenced above does what we need, but feel free to reopen if needed.

Thanks!

[2017-10-03 22:42] #35 closed

[2017-10-03 22:45] asmblah commented on #24
Thankyou for this @IngwiePhoenix, this is definitely on my list to sort out in the very near future 😄

[2017-10-03 22:51] asmblah commented on #46
I've just been reading through the GH issues that are still outstanding - does anybody think that condensing all the various repositories for the different packages (`phpcommon`, `phptoast`, `phpcore`, `phpruntime`, `phpify`, `dotphp` etc.) down into a monorepo, as Babel do, is _not_ a good idea?
I'm planning on doing exactly that in the very near future, which (along with some better documentatio

[2018-06-12 00:28] phpengine opened #49 "Production Settings"
Hi Dude,

Long time no hear, How goes it? This might be quite a complex issue, but hopefully not :)

So, We've got Uniter running Isomorphic code pretty smoothly. It runs really fast in Desktop (Electron) but quite slowly sometimes on Cordova/Web. I think the reason is because the autoloader is using PHP Server style includes/requires to load classes.

This seems like a great way to work in develo

[2018-06-12 21:43] asmblah commented on #49
Hi @phpengine,

I'm good thank you, how are you?

I've had a dig around on the page you mentioned and I notice it's fetching each PHP source file with a `.fephp` extension using an ajax request. I think the best way to speed things up for you would be to bundle all of your PHP files up using Webpack - there's a guide here which might be handy:

In your case you'll probably want to compile all of t

[2018-06-19 22:18] phpengine commented on #49
Hi @asmblah , I've got a fair amount of it running I think, as I've now replaced the unter.createEngine version with a binder style call. Its running simple bits but I'm having an issue using requires from PHP. I've used the latest version of Webpack, its reporting all of the right php files being in there, with a .php extension. The old version

``
var uniter = require('uniter') ;
var phpEngine =

[2018-06-27 20:04] asmblah commented on #49
Hi @phpengine,

Now that you have the PHP files compiled down and in your JS bundle, you should be able to remove the ajax fetching by just removing that `include` call altogether - the PHPify library adds one for you that will include the compiled PHP module from the bundle.

If you open the compiled JS bundle, you should find a "virtual filesystem" in the form of a big `switch(...0` statement, s

[2018-07-04 12:31] phpengine commented on #49
Thanks very much, sorry I didn't respond earlier, working on it at the moment. I'll ping with an update as soon as, and hopefully a speedy loading page!

[2018-09-02 16:28] phpengine commented on #49
Hi @asmblah , it took a while, but I have a very speedy Landing Page, which is really great. http://www.staging.isophp.org.uk/ . It loads the whole app in about 2 seconds. There's another problem arisen though, in that the same autoloader is unable to find some of the files in the webpack...

Here is the Ajax version, the Controller/LandingPageController Class loads...
http://www.devcloud.isophp.o

[2018-09-02 16:30] phpengine opened #50 "More Root Level Functions"
Hi @asmblah ,

I'd like to add new functions to the Root Level of "Uniterland" Apps. I'd be happy to begin with something along the lines of https://github.com/asmblah/uniter/issues/24 , as I have a couple of good remote Node Devs who I'd quite like to task with some extensions and integrations for this (and tests :) ). I'd quite like to use the defined method and so I'd like to start there.

I'd

[2018-09-02 16:52] phpengine opened #51 "Unreachable Code after return statement"
Hi @asmblah ,

I see this a lot, probably hundreds of times a day actually :D . I've been ignoring it until I had the other bits reasonably stable, and I guess that's about now.

For instance, the console on the following page...
http://www.devcloud.isophp.org.uk/

Has over 600 appearances of ```unreachable code after return statement```

How do I get rid of these? Or do I need to?

Thanks, Dave

[2018-09-03 01:34] the-liquid-metal commented on #51
hint: "unreachable code after return statement" means you have statement(s) after return statement.

for example:
[code]

[2018-09-05 18:42] phpengine commented on #51
Hi there @the-liquid-metal (terminator I hope) ,

Thanks for adding, though I knew the meaning of the warning. As this JS Code is generated by Uniter, it is not hand modified. So, in order for me to have the code generated without those statements, I was asking what I should change about my input code.

[2018-09-06 18:40] asmblah commented on #49
Hi @phpengine,

After some investigation, I think this is caused by a bug in Uniter. It seems to be creating an invalid namespace with the empty string as its name, separate from the global namespace. In the meantime, you should be able to work around the bug by avoiding leading backslashes when referencing classes with strings - ie. for this particular issue, by making this change:

https://githu

[2018-09-06 20:56] asmblah commented on #50
Hi @phpengine,

Once you have an Engine instance, you can define an "auto-coercing" function like so (contrived example):

`my_module.php`
[code]
---
`index.js`
[code]
---

so you could use this for each function you want to define. There isn't currently a way to define a "magic" function that would be called for undefined functions, but it's something I think could come in handy so I'll look into

[2018-09-06 21:08] asmblah commented on #51
Hi @phpengine,

Can I assume you're seeing those error messages in Firefox's console? Those will almost certainly be the end of any PHP function that returns a value, because the transpiler always appends some code to return a PHP `null` value at the end as that's the default. For example:

[code]
[code]

At some point I'm planning for the transpiler to support optimisation passes for things like

[2018-09-07 10:38] phpengine commented on #50
Perfect - Thanks :)

[2018-09-16 21:33] phpengine commented on #49
Hi @asmblah - works smoothly: http://www.isophp.org.uk , it loads much faster in both Web and Cordova, opening in about 3-4 seconds for each with a complete application pre-transpiled. It's perfect, really fast native JS speed. It was already fast on Desktop, so I can only imagine it will be even faster, but I haven't built the Desktop apps yet. I'm happy for you to close this one, Thanks Dude! I

[2018-09-16 21:34] phpengine commented on #51
Hi @asmblah , the fix you described works smoothly, and is the same as for the Production Settings task. I'm happy for you to close this one, Thanks Dude!

[2018-09-16 21:46] IngwiePhoenix commented on #51
Ohh, I didn't actually know this would happen. Good to know! =)

[2018-09-26 17:53] asmblah commented on #49
Hi @phpengine - perfect, glad it's all working for you now 👍 👍

[2018-09-26 17:54] asmblah commented on #51
Hi @phpengine - perfect, glad to know it's sorted for you 👍

[2018-09-26 17:54] #51 closed

[2019-01-20 15:03] yi-ge commented on #50
`defineCoercingFunction`现在似乎不能用了

[2019-02-02 12:41] phpengine opened #52 "Include transport when run on CLI"
Hi, @asmblah , how goes?

I'm having an issue when running uniter on CLI. I ran
```sudo npm install -g uniter```

But the require command doesn't appear to work...
[code]
With a node version of the following
[code]

Thanks in advance

[2019-02-02 14:15] phpengine opened #53 "Uncaught TypeError: propertyData.value is not a function"
Hi @asmblah ,

So, this one is a bit more difficult for me to point out the code of, but I've got it down to it happening during the instantiation of a class. I'm not sure what the best way to display a demo of the failed code is, as I'm running this within PHPDesktop/Chrome.

When I Try to instantiate this class...
https://gist.github.com/phpengine/6ea043374e25b48364d9d88573007310

Which is calle

[2019-02-02 15:59] phpengine commented on #53
Also hopefully helpful is that the same code works in Zend, as you can see from the terminal output.

[2019-02-02 16:30] phpengine commented on #53
HI I've just made a workaround for this, so its not urgent at all for now, but would be a nice to know. I have just made all the properties and methods of the router class static, and that seems to have worked so no worries on this for now, thanks!

[2019-02-07 21:57] asmblah commented on #53
@phpengine sorry for the delay in responding to this! I think I've broken this with some recent changes that were introduced to support visibility of properties (it was previously ignored). There is a branch of `phpruntime` called `experimental` that I need to finish tidying and merge back to `master` to do a stable release which I'm hoping to get to this weekend.

Thank you very much for the test

[2019-02-07 22:15] asmblah commented on #52
@phpengine all good here thanks, how are you?

I believe this has been fixed in the latest beta/experimental version, so a similar issue to #53. Could you try installing the latest version of Uniter's `dotphp` package please?

Things should then behave as you expect as a workaround for now:

[code]

[code]

I'm aiming to get the experimental branch of `phpruntime` merged back to master and a stabl

[2019-02-10 11:28] phpengine commented on #52
Great that you're working on it, thanks! I'll hang on for the merge back into master

[2019-02-10 14:13] phpengine commented on #53
@asmblah great, I thought it might have been me. No worries, sometimes life gets in the way of programming :) Looking forward to the updates. Thanks

[2019-02-18 19:23] asmblah commented on #53
@phpengine just as an update - there are still a few things to sort before the experimental branch can be merged back to master. Once it is, I'll let you know here 👍

[2019-04-19 09:57] d3x0r opened #54 "Documentation : Benchmark?"
I have been doing some digging but haven't really found a performance comparision of JS transpiled PHP vs PHP running natively.

I'm sure it's slower, I would be highly amused if it were faster (even in corner cases like serving 'hello world' )

[2019-04-24 18:34] asmblah commented on #54
Hi @d3x0r,

Good question! I've thought about this but never actually done any real benchmarking yet. Please feel free, or give me a couple of weeks and I'll see if I can get some meaningful benchmarks put together and posted up somewhere.

Cheers!

[2019-06-12 18:37] asmblah commented on #53
@phpengine sorry for the massive delay - just to let you know, this is still on my radar. How are things going?

[2019-06-25 18:42] phpengine commented on #53
Hey @asmblah , no problemo - going really well so far. We're thinking that our first full featured Uniter app will be ready for the public in a few weeks across web and mobile. We've made a few small SPAs. Been a long slog but its looking great so far :) Hows it going on your end?

[2019-06-26 08:46] phpengine commented on #53
Hey @asmblah, yeah things are going great actually. We'll be looking to release our first fully fledged Uniter Apps across Web/Mobile in the next couple of months. We made a couple of smaller SPA's, but these ones are much more complete. Loving it so far - thinking actually that one in particular seems reasonably likely to signal an end to contracting for me, which would be nice...

Thanks for the

[2019-06-26 19:52] asmblah commented on #53
Hi @phpengine - that's great to hear, sounds very exciting!

I'm just picking up the experimental branch changes tonight - looking to put out a new PHPRuntime release followed by Uniter either late this week or early next week.

Let me know if there are any other Uniter features you'd like to see for your apps! 😃

Cheers!

[2019-07-07 22:12] asmblah commented on #53
Hi @phpengine - just to give you an update, I've pushed up some changes to the `experimental` branch I mentioned above, but it's not quite ready for merging just yet. I'm going to continue with the remaining bits early this week.

It's going to be a big one - here is the current changeset: https://github.com/uniter/phpruntime/pull/6/files - so I need to make sure I get it right! 😅

[2019-07-08 22:05] asmblah commented on #53
Evening @phpengine - just thought I'd give another update. I've pushed up some more changes to the `experimental` branch of PHPRuntime tonight. There are still some other niggles that need addressing and a couple of changes that are a bit too "experimental" to finish right now and so I may just remove them from this branch in order to make it mergeable. I'll keep you posted!

[2019-08-21 22:36] asmblah commented on #52
Hi @phpengine - how are you?

Sorry for the huge delay here! This should now be fixed - I've finally managed to get this PR merged (https://github.com/uniter/phpruntime/pull/6), a new `phpruntime` package released and pulled into the main `uniter` package for a release. If you now try `npm install -g uniter` you should get version `2.13.0` which should have the fix for this issue (along with a hug

[2019-08-21 22:37] asmblah commented on #53
Hi @phpengine - as noted on https://github.com/asmblah/uniter/issues/52, the release I've just published `v2.13.0` should resolve this issue. Sorry again for the massive delay!

[2019-09-23 20:58] asmblah commented on #53
Hi @phpengine - how are things? Could you let me know whether this resolved your issue if you get a chance - if not, just drop a note here and I'll be happy to take a look - thanks! 😃

[2019-12-03 00:03] neimanpinchas opened #55 "Documentation on how to use async API"
I would like to mimic the mysql api

However i could'nt figure out how to use the async API from uniter.

Could be its only possible from phpcore but could'nt figure out this too.

Any help?

[2019-12-04 20:07] asmblah commented on #55
Hi @neimanpinchas,

There aren't any docs I can point you to for the different modes (yet) unfortunately, sorry about that. Are you hoping to do this as a feature to be included in the runtime (to go into `phpruntime`) or do you want to keep it separate?

I'm asking because if you want to contribute to the runtime then it would be easiest to fork the `phpruntime` project and make your changes ther

[2019-12-04 20:57] neimanpinchas commented on #55
I am not yet 100% stable, in the phpcore mechanics, to take responsibility
for adding the mysql project in the runtime

Also adding a dependency to node-mysql2 will make the whole project
heavier, so could be that it should be a plugin.

The usleep was enough for me, to get the concept, i think of creating the
engine with a a custom php runtime phpRuntime, and using runtime.install...

Once i will

[2019-12-07 22:22] asmblah commented on #55
Good luck and keep me posted on how you get on @neimanpinchas!

Yes, a simple way of specifying plugins to use is badly needed - I'm thinking a `.uniterrc` or `uniter.config.js` or `uniter.json`, something along those lines (although it should probably also pick up on the system `php.ini` if present)

[2019-12-20 04:30] abbychau opened #56 "wrong output in foreach loops"
[code]
expected: 'dafdsf'
now: 'd'

[2019-12-22 19:10] asmblah commented on #56
Hi @abbychau,

Is there a typo in your snippet above? I've just run this through both Zend's PHP engine and Uniter and it gives the same output, just `d`.
In your snippet, on the first (and only) iteration of the loop `$v` will be `dafdsf` and so `$v['test']` tries to fetch an element at index `'test'` of that string, which raises a warning and just fetches `d` (as the string `'test'` is cast to a

[2019-12-23 15:00] abbychau commented on #56
ah, I made a mistake :p sorry

[2019-12-23 15:00] #56 closed

[2020-04-07 18:59] bkidwell commented on #36
This commit is in lots of recent tags and in `master` branch of `uniter/phpruntime`. Should the issue on this page be closed?

[2020-04-15 22:06] asmblah commented on #36
Hi @bkidwell, thanks for the question! `count(...)` is indeed implemented as you say, but I've just checked and its alias `sizeof(...)` is not, so as that's the one mentioned in the title and description above I'll leave this open just until that's resolved and then I think we can close it.

[2020-04-30 22:50] #36 closed

[2020-04-30 23:00] asmblah commented on #36
Implemented in uniter/phpruntime#10.

[2020-04-30 23:02] asmblah commented on #2
Support for these has existed for a while now - closing.

[2020-04-30 23:02] #2 closed

[2020-04-30 23:04] asmblah commented on #37
This should have been fixed for a while now as mentioned above - closing.

[2020-04-30 23:04] #37 closed

[2020-04-30 23:06] asmblah commented on #49
Closing as mentioned above - hope things are still working for you @phpengine!

[2020-04-30 23:06] #49 closed

[2020-04-30 23:08] asmblah commented on #34
Heredoc and nowdoc support have been available for a while now - closing. Hope all is good with you @IngwiePhoenix!

[2020-04-30 23:08] #34 closed

[2020-04-30 23:13] asmblah commented on #52
Closing, as this should now be resolved as above. Feel free to reopen if there's still something broken for you here @phpengine

[2020-04-30 23:13] #52 closed

[2020-04-30 23:16] asmblah commented on #50
@yi-ge apologies for not responding before; I must have missed your message. If it's still relevant could you elaborate a bit on what problem you were having with `defineCoercingFunction(...)` please, ie. is there a specific error you saw raised? I appreciate a lot of time has passed since though!

[2020-04-30 23:23] asmblah commented on #28
Just as an update on this one:

[code]
we have `--transpile-only` for this, hope it does what you need!

---

[code]
this is interesting - not currently available, but would definitely be useful

---

[code]
we currently have `async` as the default mode, and the `--sync` option is available to switch to synchronous mode. However, especially now that we have `psync` mode too, it would be good to ha

[2020-04-30 23:24] asmblah commented on #53
Closing as this should be resolved in recent releases as above - feel free to reopen if you're still having problems with it though @phpengine

[2020-04-30 23:24] #53 closed

[2022-01-03 10:50] chipshort opened #61 "Switch Order different"
The following code works differently on uniter compared to actual php:

[code]

When running this on the official php runtime, it returns `'php return'`, while on uniter, it returns `'uniter return'`.

[2022-01-10 22:36] asmblah commented on #61
Thanks for raising this @chipshort - apologies for the delay, I intend to have a fix out soon.

I realise 8 days have passed now, but how urgent is this issue for you?

[2022-01-10 23:02] chipshort commented on #61
Hi, no worries. For me this is not urgent at all, I implemented a workaround for my specific use case.
I just wanted to report this, so it can be fixed at some point.

Thanks for the cool libraries btw.

[2022-01-13 01:08] asmblah commented on #61
You're very welcome @chipshort - the fixes referenced above should go out in the next release once ready (which should be within the next week or so).

[2022-04-02 16:29] mortenson opened #63 "... operator not supported for variadic functions or argument unpacking"
Hi there! First just wanted to say thanks for making this super ambitious project, I had no idea that PHP to JS transpilation was possible.

I noticed that the `...` is not supported for variadic functions or argument unpacking, which were new features in PHP 5.6: https://www.php.net/manual/en/migration56.new-features.php

You can replicate this by running a PHP file like this with `uniter` :
[cod

[2022-04-04 21:21] asmblah commented on #63
Thanks for the great feedback @mortenson ! You're quite right that neither of those are supported yet but should be - I'll leave this issue open until they have been.

Cheers!